@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Global Variables
:root {
    --white: #fff;
    --P-background-color: rgb(18 18 18 / 75%);
    --primary-color: #f3a952;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #000;
}

.wrapper {
    width: 100%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
