%yt-wrap {
    width: 400px;
    background-color: var(--P-background-color);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
}

.youtube-url-drag {
    position: absolute;
    cursor: move;
    z-index: 1000;

    .youtube-url-input {
        width: 100%;
        background-color: rgb(44, 44, 44);
        font-size: 1.4rem;
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 4px;
        color: var(--white);
        caret-color: var(--primary-color);
    }

    .close-url-input-btn {
        padding: 4px;
        margin-left: 4px;
        opacity: 0.5;
    }
}

.youtube-url-input-wrapper {
    @extend %yt-wrap;
    padding: 8px;
}

.yt-embedded-wrapper {
    @extend %yt-wrap;
    flex-direction: column;
    overflow: visible;
    position: relative;

    .yt-embedded-nav {
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: right;
        gap: 4px;
    }

    .search-btn,
    .close-btn {
        padding: 2px;
        & img {
            display: flex;
            width: 1.4rem;
            height: 1.4rem;
            opacity: 0.5;
        }
    }
}

.custom-handle {
    position: absolute;
    opacity: 0.75;
    bottom: 4px;
    right: 4px;
    cursor: se-resize;

    & img {
        width: 2rem;
        height: 2rem;
    }
}
