.wrapper {
    overflow: hidden;
    background: var(--P-background-color);
    -webkit-backdrop-filter: blur(3rem);
    -ms-backdrop-filter: blur(3rem);
    backdrop-filter: blur(3rem);

    .title {
        font-size: 1.8rem;
        color: var(--white);
        font-weight: 500;
        margin: 8px 0;
    }

    &.border {
        border: 1px solid var(--P-border-color);
    }
}

.title-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    & .title {
    }
}

.back-btn {
    padding: 12px 0;
    position: absolute;
    left: 0;

    & img {
        width: 16px;
        height: 16px;
    }
}
