.wrapper {
    padding: 8px 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    & img {
        object-fit: cover;
        height: 190px;
        width: 100%;
        opacity: 0.6;
        border-radius: 16px;

        &.active {
            opacity: 1;
        }
    }

    .icon-scenes {
        position: absolute;
        bottom: 20px;
        left: 12px;
        color: var(--white);
        display: flex;
        width: 70px;
        font-size: 1.4rem;
        justify-content: space-between;
        opacity: 0.5;

        &:hover {
            opacity: 1.5;
        }
    }
}
