.wrapper {
    padding: 13px 10px;
    border-radius: 8px;
    border: 1px solid rgb(255 255 255 / 10%);
    background-color: var(--sub-background-color);
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        color: var(--P-text-color);
        font-size: 14px;
    }

    .icon-btn {
        filter: brightness(2) opacity(0.1);

        & img {
            width: 20px;
            height: 20px;
        }
    }
}

.content {
}
